.mainFoodContainer {
    height: auto;
    display: flex;
    /* justify-content: flex-start;  */
    padding: 10px; 
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap; 
}

.foodCards {
    cursor: pointer;
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardsImg{
    border-radius: 20px;
    width: 350px;
    height: 350px;
}
