
  .imageDetail{
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
  }
  .detailContainer{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
  }
  .firstLettre{
    color: white;
    font-weight: bold;
  }
  .firstLettre:first-letter{
    color: red;
  }
  .foodName{
    margin-top: -10px;
    color: white;
  }
  .foodName:first-letter{
    color: red;
  }
  .pagargraphDetailContainer{
    width:500px;
  }
  .paragrapheDetail{
    font-size: 20px;
    font-family: "Sour Gummy", serif;
    color: white;
  }
  .price{
    color: green;
  }