.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  table {
    width: 800px;
    margin-left: 20px;
    border-collapse: collapse;
    text-align: center;
    background-color: #333;
    color: white;
  }
  
  th, td {
    border: 1px solid #444;
    padding: 10px;
  }
  td{
    font-size: 20px;
  }
  th {
    background-color: red;
    color: white;
  }
  
  .table-image {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    object-fit: cover;

  }
  
.meal-form {
  width:566px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.meal-label {
  margin-bottom: 8px;
  font-weight: bold;
}

.meal-select, .meal-input, .meal-file {
  width: 46%;
  padding: 10px;
  margin-bottom: 12px;
  margin-left: 167px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#nomDeRepas{
  margin-left: 199px;
}
#imageDeRepas{
  margin-left: 190px;
}
#prixDeRepas{
  margin-left: 203px;
}

.meal-select {
  font-size: 16px;
}

.meal-input {
  font-size: 16px;
}

.meal-large {
  height: 100px;
  width: 50%;
}

.meal-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.meal-button::first-letter{
  color: red                          ;
}

.meal-button:hover {
  background-color: rgb(14, 14, 14)
}

.text-aria-input{
  padding: 10px;
  width: 555px;
  max-width: 545px;
  min-width: 545px;
  height: 185px;
  font-size: 16px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

