header {
    display: flex;
    justify-content: center;
    height: 100px;
    transition: all 0.3s ease;
  }
  
  .nav {
    margin-left: 20px;
    color: black;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
  }
  
  .nav:hover {
    text-decoration: underline;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
  }
  
  @media (max-width: 768px) {
    header {
      display: none; 
      flex-direction: column;
    }
    header.active {
      display: flex;
    }
    .menu-toggle {
      display: block;
      color: black;
      position: fixed;
      top: 10px;
      right: 10px;
    }
  }
  