header{
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: -180px;
}
.nav{
    margin-left: 20px;
    color: black;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
@media (max-width: 930px){
    header{
        margin-left: 150px;
        
    }
}
@media (max-width: 768px){
    header{
        margin-top: -130px;
        margin-left: 0px;
        
    }
    .nav{
        font-size: 22px;
    }
}
@media (max-width: 660px){
    header{
        margin-left: 30px;
        
    }
    .nav{
        font-size: 18px;
    }
}
@media (max-width: 570px){
    header{
        margin-left: 80px;
        margin-top: -130px;
    }
    .nav{
        font-size: 20px;
    }
}
@media (max-width: 375px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 230px;
        margin-left: -16px;
    }
    .nav{
        font-size: 20px;
    }
}

.nav:hover{
    text-decoration: underline;
}